@import url('https://fonts.googleapis.com/css2?family=Joti+One&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
}

#titleContainer {
  width: 980px;
  height: 127px;
  background-color: #616161;
  border-radius: 28px;
  margin: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#text4 {
  font-family: "Joti One";
  font-weight: bold;
  font-size: 75px;
  color: #ffffff;
  margin-bottom: 15px;
}
