@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

body {
    margin: 0;
    padding: 0;
}

#dishesContainer {
    height: 100%;
    gap: 60px;
    margin-bottom: 40px;
    margin-top: 40px;
}

#firstDish {
    background-color: #A00000;
    width: 400px;
    height: 500px;
    border-radius: 28px;
}

#secondDish {
    background-color: #616161;
    width: 400px;
    height: 500px;
    border-radius: 28px;
}

#thirdDish {
    background-color: #A00000;
    width: 400px;
    height: 500px;
    border-radius: 28px;
}

.textDishContainer {
    color: white;
    margin-top: 60px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: justify;
} 

.textDishContainer h1{
    font-family: 'Josefin Sans';
}

.textDishContainer a{
    font-family: 'Josefin Sans';
}

.imageDishContainer {
    margin-left: 25px;
    margin-top: 25px;  
    border-radius: 28px;
    height: 200px;
    width: 300px;
}

.imageDishContainer img {
    border-radius: 28px;
    height: 250px;
    width: 350px;
}