@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

body {
  margin: 0;
  padding: 0;
}

#contentContainer {
  width: 100%;
  height: 1890px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#teruzushi {
  width: 1457px;
  height: 613px;
  background-color: #a00000;
  border-radius: 28px;
  display: flex;
  justify-content: space-between;
}

#teruzushiJP {
  width: 1457px;
  height: 613px;
  background-color: #616161;
  border-radius: 28px;
  display: flex;
  justify-content: space-between;
}

#teruzushiRiyadh {
  width: 1457px;
  height: 613px;
  background-color: #a00000;
  border-radius: 28px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.restaurant_container {
  margin-left: 60px;
}

.restaurant_text {
  height: 272px;
  color: white;
  text-align: justify;
  min-width: 500px;
  max-width: 500px;
  font-family: 'Josefine Sans';
}

.restaurant_text a {
  font-size: 16px;
}

.restaurant_text h1 {
  font-size: 32px;
}

.button_container {
  display: flex;
  height: 55px;
  width: 604px;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}

.image-container {
  margin-right: 70px;
}